@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap');

#map {
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    color: #faa557;
}

/*==============*/
/*INÍCIO SIDEBAR*/
/*==============*/

.sidebar{
    position: absolute;
    top: -50px;
    width: 650px;
    left: -650px;
    height: 100%;
    background-color: #e5e5e5;
    visibility: hidden;
    transition: all .5s ease;
}

#btn-sidebar-icone{
    position: relative;
    left: 23px;
    top: 19px;
    width: 200px;
    height: 200px;
    color: white;
    text-decoration: none;
}

#sidebar-cancel{
    position: relative;
    cursor: pointer;
    color: black;
    height: 100px;
    width: 100px;
    top: -25px;
    left: 17px;
    line-height: 100px;
    text-align: center;
    transition: all .5s ease;
    text-decoration: none;
}

#container-filtros{
    position: absolute;
    height: 100%;
    width: 50%;
}

#container-resultados{
    background-color: #e0e0e0;
    position: absolute;
    height: 100%;
    width: 50%;
    margin-left: 5px;
    left: 310px;
}

.sidebar header{
    position: relative;
    font-size: 24px;
    top: 50px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.btn-open-sidebar{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 30px;
    bottom: 100px;
    background-color: #faa557;
    border-radius: 90px;
    opacity: 80%; 
}

.btn-open-sidebar:hover{
    opacity: 100%;
}

.btn-close-sidebar{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 652px;
    top: -50px;
    background-color: #e0e0e0;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
}

.txt-open-sidebar:hover{
    color: white;
}

#check{
    display: none;
}

label .btn-open-sidebar, label .btn-close-sidebar{
    cursor: pointer;
    transition: all .5s ease;
}

#check:checked ~ .sidebar{
    visibility: visible;
    left: 0px;
}

#check:checked ~ label .btn-open-sidebar{
    margin-left: 650px;
    display: none;
}

#check:checked ~ label .btn-close-sidebar{
    visibility: visible;
    opacity: 50%;
}

#check:checked ~ label .btn-close-sidebar:hover{
    opacity: 100%;
}

.select-options{
    font-family: 'Montserrat', sans-serif;
}

#select-satelite{
    position: relative;
    left: 50px;
    top: 100px;
    border-color: #faa557;
    cursor: pointer;
    height: 40px;
    width: 210px;
    border-radius: 10px;
    text-align: center;
}

.selecao-periodo{
    position: relative;
    background-color: #e0e0e0;
    width: fit-content;
    height: fit-content;
    top: 175px;
    left: 50px;
    text-align: center;
}


#select-periodo{
    position: relative;
    border-color: #faa557;
    cursor: pointer;
    height: 40px;
    width: 210px;
    border-radius: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

#select-periodo2{
    position: relative;
    border-color: #faa557;
    cursor: pointer;
    height: 40px;
    width: 210px;
    border-radius: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

#select-nuvens{
    position: relative;
    left: 50px;
    top: 275px;
    border-color: #faa557;
    cursor: pointer;
    height: 40px;
    width: 210px;
    border-radius: 10px;
    text-align: center;
}

#select-area{
    position: relative;
    left: 50px;
    top: 350px;
    border-color: #faa557;
    cursor: pointer;
    height: 40px;
    width: 210px;
    border-radius: 10px;
    text-align: center;
}

.buttonSearch{
    position: relative;
    width: 210px;
    top: 425px;
    left: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #faa557;
    color: white;
    border-width: 0px;
}

/* .imagem{
    position: relative;
    color: transparent;
    width: 210px;
    height: 100px;
    left: 50px;
    border-radius: 10px;
    border-color: #faa557;
    margin-top: 20px;
} */

#img1{
    top: 50px;
}

#img2{
    top: 100px;
}

#img3{
    top: 150px;
}

#img4{
    top: 200px;
}

.imagem-constante{
    position: inherit;
    left: -7.5px;
    border-radius: 10px;
    top: -2.5px;
}

.select-options:hover{
    color: white;
    background-color: #faa557;
}
/*===========*/
/*FIM SIDEBAR*/
/*===========*/

/*=============*/
/*INÍCIO NAVBAR*/
/*=============*/

header{
   background-color: #faa557;
}

.title-navbar{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 28px;
    padding: 31px;
    line-height: 18px;
}

.title-black{
    color: white;
}



/*==========*/
/*FIM NAVBAR*/
/*==========*/

/*=====================*/
/*INÍCIO BOTÕES DE ZOOM*/
/*=====================*/

.zoom{
    position: fixed;
    background-color: transparent;
    border-radius: 5px;
    bottom: 110px;
    right: 10px;
    height: 90px;
    width: 40px;
}

.btn-zoom{
    left: 4px;
    height: 30px;
    width: 30px;
    position: absolute;
    background-color: #faa557;
    color: white;
    border-radius: 5px;
    border-color: white;
    border-width: 0px;
    align-items: center;
}

#zoom-in{
    top: 10px;
}

#zoom-out{
    top: 50px;
}

/*==================*/
/*FIM BOTÕES DE ZOOM*/
/*==================*/

/*========================*/
/*INÍCIO BOTÃO DE DOWNLOAD*/
/*========================*/

.btn-download{
    position:fixed;
    height: 50px;
    width: 140px;
    right: 10px;
    bottom: 55px;
    background-color: #faa557;
    border-radius: 10px;
    border-width: 0px;
    opacity: 80%;

    font-size: 16px;
    line-height: 6px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.btn-download:hover{
    opacity: 100%;
    transition: all .5s ease;
}

/*=====================*/
/*FIM BOTÃO DE DOWNLOAD*/
/*=====================*/

/*==================*/
/*INÍCIO DIV DO MAPA*/
/*==================*/

.mapa{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50px;
}

.mapa-img{
    position: relative;
    width: 100%;
    height: 100%;
}

/*===============*/
/*FIM DIV DO MAPA*/
/*===============*/